################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpeechProcessor/.vs/SpeechProcessor
/SpeechProcessor/SpeechProcessor/bin/Debug/net7.0
/SpeechProcessor/SpeechProcessor/obj
/.vs
